################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lib/v16
/UnitTest_PatternCommand/x64/Debug
/x64/Debug
/UnitTest_PatternState/x64/Debug
